body{
    background-color: #202020;
    color: white;
    text-align: center;
}
h1{
    font-size: 30px;
    color: #3061a2;
}
h3{
    text-align: center;
    color: #3061a2;
}

a{
    color: #3061a2;
    text-decoration: none;
}

p{
    text-align: justify;
    width: 80%;
    margin: auto;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #25446d;
}

tr:nth-child(even){
    background-color: #3061a2;
}

.con{
    width: 150px;
    border: 1px none;
    display: block;
    margin: auto;
    margin: auto;
}
.info{
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.learned{
    text-align: left;
    width: 50%;
    float: left;
}

.favorite{
    width: 50%;
    float: right;
    text-align: left;
}

.pic{
    display: block;
    margin: auto;
    width: 80%;
}

.TABLE{
    display: block;
    margin: auto;
    width:80%;
}